{% extends 'base_frontend.html.twig' %}

{% block body %}
{# INICIO FIXED-SECTION STYLE #}
<style>
	.fixed-section {
		position: fixed;
		top: 50;
	}
</style>
{# FIN FIXED-SECTION STYLE #}
<div class="row">
	<div class="col-xs-12 mt-4">
		<h2>{{ norma.tipoNorma.nombre ~ ' ' ~ (norma.numero != 0 ? norma.numero|number_format(0, ',', '.') ~ '/':'') ~ norma.fechaSancion|date('Y')}}</h2>
		<h5 class="text-muted">{{ norma.dependencia.nombre }}</h5>
	</div>
	<div class="col-xs-12">
		<hr>
	</div>
	<div class="col-xs-12 mt-4">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12">
						<h1>{{ norma.titulo }}</h1>
						<h5 class="text-muted mt-4">Fecha de publicación: {{ norma.fechaPublicacion|date('d/m/Y') }}
						</h5>
					</div>
					{# <div class="col-12">
						<!-- Accordions Bordered -->
						<div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered1">
							<div class="accordion-item material-shadow">
								<h2 class="accordion-header" id="accordionbordered1TextoOriginal">
									<button class="accordion-button bg-secondary text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapseOriginal" aria-expanded="true" aria-controls="accor_borderedExamplecollapseOriginal">
										Texto de la norma
									</button>
								</h2>
								<div id="accor_borderedExamplecollapseOriginal" class="accordion-collapse collapse" aria-labelledby="accordionbordered1TextoOriginal" data-bs-parent="#accordionBordered">
									<div class="accordion-body">
										{{ norma.textoCompletoHtml|raw }}
									</div>
								</div>
							</div>
						</div>
					</div> #}

					{# {% if norma.modificado %}
					<div class="col-12">
						<div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered2">

							<div class="accordion-item mt-2 material-shadow">
								<h2 class="accordion-header" id="accordionbordered2TextoModificado">
									<button class="accordion-button bg-secondary text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapseModificado" aria-expanded="false" aria-controls="accor_borderedExamplecollapseModificado">
										Texto modificado
									</button>
								</h2>
								<div id="accor_borderedExamplecollapseModificado" class="accordion-collapse collapse" aria-labelledby="accordionbordered2TextoModificado" data-bs-parent="#accordionBordered">
									<div class="accordion-body">
										{{ norma.textoCompletoModificadoHtml|raw }}
									</div>
								</div>
							</div>
						</div>
					</div>
						
					{% endif %} #}

					{% if norma.urlPdf %}
					<div class="col-12">
						<button class="btn btn-primary mt-3" onclick="viewFullScreen()">Ver PDF en pantalla Completa</button>
						<embed id="pdfViewer" class="mt-4" src="{{ asset('uploads/normas/' ~ norma.urlPdf) }}" type="application/pdf" width="100%" height="600px" />
					</div>
					{% endif %}

				</div>
			</div>
			<div class="col-12 col-md-4 d-none d-md-block">
				{# SI NO GUSTA LO DE FIX NORMAS COMPLEMETARIAS QUITAR SOLO EL DIV FIXED-SECTION #}
				<div class="fixed-section">
					<div class="row">
						{% if norma.normasDestino|length or norma.normasOrigen|length %}
						<div class="col-12">
							<h5>
								Normas complementarias
							</h5>
						</div>
						{% if norma.normasDestino|length %}
						<div class="col-12 my-2">

							<button type="button" class="btn btn-primary waves-effect waves-light"
								data-bs-toggle="modal" data-bs-target=".normasOrigen">
								<i class="far fa-hand-point-left"></i>
								Esta norma modifica o complementa a {{ norma.normasDestino|length }} norma{{
								norma.normasDestino|length > 1 ? 's':'' }}
							</button>

						</div>
						{% endif %}


						{% if norma.normasOrigen|length %}
						<div class="col-12 my-2">
							<button type="button" class="btn btn-primary waves-effect waves-light"
								data-bs-toggle="modal" data-bs-target=".normasDestino">
								<i class="far fa-hand-point-right"></i>
								Esta norma es complementada o modificada por {{ norma.normasOrigen|length }} norma{{
								norma.normasOrigen|length > 1 ? 's':'' }}
							</button>
						</div>
						{% endif %}


						{% endif %}

					</div>
				</div>
				{# END FIXED-SECTION #}

			</div>

			<div class="col-12 d-block d-md-none">
				{# SI NO GUSTA LO DE FIX NORMAS COMPLEMETARIAS QUITAR SOLO EL DIV FIXED-SECTION #}
					<div class="row">
						{% if norma.normasDestino|length or norma.normasOrigen|length %}
						<div class="col-12">
							<h5>
								Normas complementarias
							</h5>
						</div>
						{% if norma.normasDestino|length %}
						<div class="col-12 my-2">

							<button type="button" class="btn btn-primary waves-effect waves-light"
								data-bs-toggle="modal" data-bs-target=".normasOrigen">
								<i class="far fa-hand-point-left"></i>
								Esta norma modifica o complementa a {{ norma.normasDestino|length }} norma{{
								norma.normasDestino|length > 1 ? 's':'' }}
							</button>

						</div>
						{% endif %}


						{% if norma.normasOrigen|length %}
						<div class="col-12 my-2">
							<button type="button" class="btn btn-primary waves-effect waves-light"
								data-bs-toggle="modal" data-bs-target=".normasDestino">
								<i class="far fa-hand-point-right"></i>
								Esta norma es complementada o modificada por {{ norma.normasOrigen|length }} norma{{
								norma.normasOrigen|length > 1 ? 's':'' }}
							</button>
						</div>
						{% endif %}


						{% endif %}

					</div>
				{# END FIXED-SECTION #}

			</div>
		</div>
	</div>
</div>
{# INICIO LARGE MODAL #}
<div class="modal fade normasOrigen" tabindex="-1" aria-labelledby="normasOrigenLabel"
	style="display: none;">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="normasOrigenLabel">Normas que modifica o complementa</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table class="table table-sm table-bordered table-striped">
							<thead>
								<tr>
									<th>Tipo de normativa</th>
									<th>Referencia</th>
									<th>Normativa</th>
									<th>Fecha de publicación</th>
									{# <th>Descripción</th> #}
									<th data-orderable="false"></th>
								</tr>
							</thead>
							<tbody>
								{% for referencia in norma.normasDestino %}
								<tr>
									<td>
										{{ referencia.normaOrigen.tipoNorma.nombre }}
									</td>
									<td>
										{{ referencia.tipoReferencia.nombre }}
									</td>
									<td>
										{{ referencia.normaOrigen.titulo ~ ' ' ~ 
										(referencia.normaOrigen.numero != 0 
											? referencia.normaOrigen.numero|number_format(0, ',', '.') ~ '/' 
											: '') 
										}}
										{{ referencia.normaOrigen.fechaSancion 
											? referencia.normaOrigen.fechaSancion|date('Y') 
											: '' 
										}}
									</td>
									<td>{{ referencia.normaOrigen.fechaPublicacion|date('d/m/Y') }}</td>
									{# <td>{{ referencia.normaOrigen.textoCompleto|striptags|length > 100 ?
										referencia.normaOrigen.textoCompleto|striptags|slice(0, 150)
										~ '...'
										: referencia.normaOrigen.textoCompleto|striptags }}</td> #}
									<td class="text-center">
										<a href="{{ path('app_show_norma',{'slug':referencia.normaOrigen.slug}) }}"
											target="_blank" title="Ver normativa">
											<i class="fas fa-eye"></i>
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade normasDestino" tabindex="-1" aria-labelledby="normasDestinoLabel"
	style="display: none;">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="normasDestinoLabel">Normas que la modifican o complementan</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table class="table table-sm table-bordered table-striped">
							<thead>
								<tr>
									<th>Tipo de normativa</th>
									<th>Referencia</th>
									<th>Normativa</th>
									<th>Fecha de publicación</th>
									{# <th>Descripción</th> #}
									<th class="no-sort"></th>
								</tr>
							</thead>
							<tbody>
								{% for referencia in norma.normasOrigen %}
								<tr>
									<td>
										{{ referencia.normaDestino.tipoNorma.nombre }}
									</td>
									<td>
										{{ referencia.tipoReferencia.nombre }}
									</td>
									<td>
										{{ referencia.normaDestino.titulo ~ ' ' ~ 
										(referencia.normaDestino.numero != 0 
											? referencia.normaDestino.numero|number_format(0, ',', '.') ~ '/' 
											: '') 
										}}
										{{ referencia.normaDestino.fechaSancion 
											? referencia.normaDestino.fechaSancion|date('Y') 
											: '' 
										}}
									</td>
									<td>{{ referencia.normaDestino.fechaPublicacion|date('d/m/Y') }}</td>
									{# <td>{{ referencia.normaDestino.textoCompleto|striptags|length > 100 ?
										referencia.normaDestino.textoCompleto|striptags|slice(0, 150)
										~ '...'
										: referencia.normaDestino.textoCompleto|striptags }}</td> #}
									<td class="text-center">
										<a href="{{ path('app_show_norma',{'slug':referencia.normaDestino.slug}) }}"
											target="_blank" title="Ver normativa">
											<i class="fas fa-eye"></i>
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{# FIN LARGE MODAL #}
<script>
    function viewFullScreen() {
        const pdfViewer = document.getElementById('pdfViewer');
        if (pdfViewer.requestFullscreen) {
            pdfViewer.requestFullscreen();
        } else if (pdfViewer.mozRequestFullScreen) { // Firefox
            pdfViewer.mozRequestFullScreen();
        } else if (pdfViewer.webkitRequestFullscreen) { // Chrome, Safari y Opera
            pdfViewer.webkitRequestFullscreen();
        } else if (pdfViewer.msRequestFullscreen) { // IE/Edge
            pdfViewer.msRequestFullscreen();
        }
    }
</script>
{% endblock %}