{{ form_start (form) }}
<div class="row">
	<div class="col-8">
		{{ form_label (form.nombre) }}
		{{ form_widget (form.nombre) }}
		{{ form_errors (form.nombre)}}
	</div>
	<div class="col-4">
		{{ form_label (form.rango) }}
		{{ form_widget (form.rango) }}
		{{ form_errors (form.rango)}}
	</div>
</div>
<div class="row">
	<div class="col-12 mt-4 text-end">
		{{ form_widget (form.guardar) }}
		<a href="{{ path('app_tipo_norma_index') }}" class="btn btn-secondary">Volver</a>
	</div>
</div>
{{ form_end (form) }}
