{% extends 'base.html.twig' %}

{% block title %}TipoNorma{% endblock %}

{% block body %}
    <h1>TipoNorma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_norma.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_norma.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_norma.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tipo_norma_index') }}">back to list</a>

    <a href="{{ path('app_tipo_norma_edit', {'id': tipo_norma.id}) }}">edit</a>

    {{ include('secure/tipo_norma/_delete_form.html.twig') }}
{% endblock %}
