<style>
.modal .trumbowyg-button-pane {
    z-index: 1;
}

.modal .choices__list--dropdown {
    z-index: 2;
}
.trumbowyg-editor{
	height: 200px;
}

.custom-choices .choices__list--dropdown {
    max-height: 200px; /* Ajusta el tamaño máximo de la lista desplegable */
    overflow-y: auto;  /* Habilita el scroll vertical */
}


</style>
 <!-- Spinner de carga -->

<div id="loading-spinner" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-white" style="z-index: 1050;">
	<div class="text-center">
		<div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
			<span class="visually-hidden">Cargando...</span>
		</div>
		<p class="mt-3">Cargando normativa...</p>
	</div>
</div>

<div id="pdf-loading-spinner" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-white d-none" style="z-index: 1050;">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-3">Leyendo archivo PDF, página <span id="current-page">0</span> de <span id="total-pages">0</span>. Esto puede demorar un tiempo, por favor espere a que finalice...</p>
    </div>
</div>

{{ form_start (form_norma) }}

<div id="normaIdEdit" data-id="{{ norma.id }}" style="display: none;"></div>
{# INICIO MODAL #}

<div class="modal fade" id="modalAgregarNormaOrigen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="modalAgregarNormaOrigenLabel">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalAgregarNormaOrigenLabel">Normas que modifica/deroga/complementa/anula/hace referencia a/actualiza/aclara</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="spinnerNormaOrigen" class="d-none text-center my-3">
					<div class="spinner-border" role="status">
						<span class="visually-hidden">Cargando...</span>
					</div>
					<p>Cargando normas, esto puede demorar...</p>
				</div>
				<div class="container-fluid" id="contentNormaOrigen">
					<div class="row">

						<div class="col-8">
							{{ form_label (form_norma.normaOrigen) }}
							{{ form_widget (form_norma.normaOrigen) }}
							{{ form_errors (form_norma.normaOrigen) }}
						</div>

						<div class="col-4">
							{{ form_label (form_norma.tipoReferenciaOrigen) }}
							{{ form_widget (form_norma.tipoReferenciaOrigen) }}
							{{ form_errors (form_norma.tipoReferenciaOrigen) }}
						</div>

					</div>
					<div class="row mt-4" id="div_normaOrigen">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="container-fluid">
										<div class="row my-2">
											<div class="col-12">
												<b>Título: </b><span id="spanNormaOrigen_titulo"
													class="spanNormaOrigen"></span>
											</div>
										</div>
										<div class="row my-2">
											<div class="col-12">
												<b>Archivo: </b><a id="aNormaOrigen_urlPdf" href="#"
													target="_blank"><span id="spanNormaOrigen_urlPdf"
														class="spanNormaOrigen"></span></a>
											</div>
										</div>
										<div class="row my-2">
											<div class="col-3">
												<p>
													<b>Tipo de norma: </b>
													<span id="spanNormaOrigen_tipoNorma" class="spanNormaOrigen"></span>
												</p>
											</div>
											<div class="col-3">
												<p>
													<b>Número: </b>
													<span id="spanNormaOrigen_numero" class="spanNormaOrigen"></span>
												</p>
											</div>
											<div class="col-3">
												<p>
													<b>Año: </b>
													<span id="spanNormaOrigen_fechaSancion" class="spanNormaOrigen"></span>
												</p>
											</div>
											<div class="col-3">
												<p>
													<b>Fecha de publicación: </b>
													<span id="spanNormaOrigen_fechaPublicacion"
														class="spanNormaOrigen"></span>
												</p>
											</div>
										</div>
										<div class="row my-2">
											<div class="col-12">
												<b>Texto: </b><br>
												<textarea id="modal_textoCompletoModificadoHtml" class="trumbowyg-editor" name="modal_textoCompletoModificadoHtml"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Agregar</button>
			</div>
		</div>
	</div>
</div>

{# FIN MODAL #}

<div class="row">
	<div class="col-md-12 mb-3">
		{{ form_label (form_norma.tipoNorma) }}
		{{ form_widget (form_norma.tipoNorma) }}
		{{ form_errors (form_norma.tipoNorma)}}
	</div>

	<div class="col-md-12 mb-3">
		{{ form_label (form_norma.dependencia) }}
		{{ form_widget (form_norma.dependencia) }}
		{{ form_errors (form_norma.dependencia)}}
	</div>

	<div class="mb-3">
		{{ form_label (form_norma.titulo) }}
		{{ form_widget (form_norma.titulo) }}
		{{ form_errors (form_norma.titulo)}}
	</div>

	<div <div class="col-md-4 mb-3">
		{{ form_label (form_norma.numero) }}
		{{ form_widget (form_norma.numero) }}
		{{ form_errors (form_norma.numero)}}
	</div>

	<div class="col-md-4 mb-3">
		{{ form_label (form_norma.fechaSancion) }}
		{{ form_widget (form_norma.fechaSancion) }}
		{{ form_errors (form_norma.fechaSancion)}}
	</div>

	<div class="col-md-4 mb-3">
		{{ form_label (form_norma.fechaPublicacion) }}
		{{ form_widget (form_norma.fechaPublicacion) }}
		{{ form_errors (form_norma.fechaPublicacion)}}
	</div>

	<div class="mb-3">
		{{ form_label(form_norma.textoCompletoHtml) }}
		{{ form_widget(form_norma.textoCompletoHtml, {'attr': {'max-rows': 12}}) }}
		{{ form_errors(form_norma.textoCompletoHtml) }}
	</div>

	{% if norma.textoCompletoModificadoHtml and norma.modificado %}
	<div class="mb-3">
		{{ form_label(form_norma.textoCompletoModificadoHtml) }}
		{{ form_widget(form_norma.textoCompletoModificadoHtml, {'attr': {'max-rows': 12}}) }}
		{{ form_errors(form_norma.textoCompletoModificadoHtml) }}
	</div>
	{% endif %}

	<div class="mb-3">
		{{ form_label (form_norma.currentFile) }}
		{{ form_widget (form_norma.currentFile) }}
		{{ form_errors (form_norma.currentFile)}}
	</div>

	<div class="mb-3">
		{{ form_label (form_norma.urlPdf) }}
		{{ form_widget (form_norma.urlPdf) }}
		{{ form_errors (form_norma.urlPdf)}}
	</div>

	<div class="mb-3">
    {{ form_label (form_norma.temas) }}
    {{ form_widget (form_norma.temas) }}
    {{ form_errors (form_norma.temas) }}
</div>


</div>
<hr>
<div class="row">
	<div class="col-6">
		<div class="container-fluid">
			<div class="row">
				<div class="col-10">
					<h5>Normas que modifica/deroga/complementa/anula/hace referencia a/actualiza/aclara</h5>
				</div>
				<div class="col-2 text-end">
					<button id="botonModalAgregarNormaOrigen" type="button" class="btn btn-primary btn-sm disabled">
						Agregar norma
					</button>
				</div>
			</div>
		</div>

	</div>
	<div class="col-6">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h5>Normas que la modifican/derogan/complementan/anulan/hacen referencia/actualizan/aclaran</h5>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="row mt-4">
	<div class="col-6">
		<table id="tablaNormasOrigen" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Norma</th>
					<th>Tipo de referencia</th>
					<th>Número</th>
					<th>Año</th>
					<th>Fecha de Publicación</th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				{% for normaOrigen in norma.normasDestino %}

				<tr id="row-norma-{{ normaOrigen.normaOrigen.id }}-origen">
					<td>{{ normaOrigen.normaOrigen.tipoNorma.nombre }}</td>
					<td>{{ normaOrigen.normaOrigen.titulo }}</td>
					<td>{{ normaOrigen.tipoReferencia.nombre }}</td>
					<td>{{ normaOrigen.normaOrigen.numero }}</td>
					<td>{{ normaOrigen.normaOrigen.fechaSancion|date('Y') }}</td>
					<td>{{ normaOrigen.normaOrigen.fechaPublicacion|date('d/m/Y') }}</td>
					<td class="text-center">
						<a href="javascript:void(0);" class="verTextoModificado text-secondary m-2" title="Ver texto modificado">
							<i class="fas fa-eye"></i>
						</a>
						<a href="{{ path('app_norma_edit', {'id':normaOrigen.normaOrigen.id})  }}" target="_blank" title="Editar normativa relacionada" class="text-edit m-2">
							<i class="fas fa-edit"></i>
						</a>
						<a href="javascript:void(0);" class="text-danger eliminarNorma m-2" title="Eliminar relación con la normativa"
							data-id="{{ normaOrigen.normaOrigen.id }}">
							<i class="fas fa-trash"></i>
						</a>
						<input type="hidden"
							name="norma[normasAgregadasOrigen][{{ normaOrigen.normaOrigen.id }}][norma]"
							value="{{ normaOrigen.normaOrigen.id }}">
						<input type="hidden"
							name="norma[normasAgregadasOrigen][{{ normaOrigen.normaOrigen.id }}][tipoReferencia]"
							value=" {{ normaOrigen.tipoReferencia.id }} ">
						<textarea  style="display:none;"
							name="norma[normasAgregadasOrigen][{{ normaOrigen.normaOrigen.id }}][textoCompletoModificadoHtml]"
							>{{ normaOrigen.normaOrigen.textoCompletoModificadoHtml }}</textarea>
					</td>
				</tr>

				{% endfor %}

			</tbody>
		</table>
	</div>
	<div class="col-6">
		<table id="tablaNormasDestino" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Norma</th>
					<th>Tipo de referencia</th>
					<th>Número</th>
					<th>Año</th>
					<th>Fecha de Publicación</th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				{% for normaDestino in norma.normasOrigen %}

				<tr id="row-norma-{{ normaDestino.normaDestino.id }}-destino">
					<td>{{ normaDestino.normaDestino.tipoNorma.nombre }}</td>
					<td>{{ normaDestino.normaDestino.titulo }}</td>
					<td>{{ normaDestino.tipoReferencia.nombre }}</td>
					<td>{{ normaDestino.normaDestino.numero }}</td>
					<td>{{ normaDestino.normaDestino.fechaSancion|date('Y') }}</td>
					<td>{{ normaDestino.normaDestino.fechaPublicacion|date('d/m/Y') }}</td>
					<td class="text-center">
						<a href="{{ path('app_norma_edit', {'id':normaDestino.normaDestino.id})  }}" target="_blank" class="text-edit">
							<i class="fas fa-edit"></i>
						</a>
						<input type="hidden"
							name="norma[normasAgregadasDestino][{{ normaDestino.normaDestino.id }}][norma]"
							value="{{ normaDestino.normaDestino.id }}">
						<input type="hidden"
							name="norma[normasAgregadasDestino][{{ normaDestino.normaDestino.id }}][tipoReferencia]"
							value=" {{ normaDestino.tipoReferencia.id }} ">
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="col-12 mt-4 mb-4 text-end">
	{{ form_widget (form_norma.guardar) }}
	<a href="{{ path('app_norma_index') }}" class="btn btn-secondary">Volver</a>
</div>
</div>{{ form_end (form_norma) }}
