{% extends 'base.html.twig' %}

{% block body %}
				<div class="row">
					<div class="col-12">
						<h1>Listado de Normas</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 text-end my-4">
						<a href="{{ path('app_norma_new')}}" class="btn btn-primary">
							Nueva norma
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<table id="datatable-buttons" class="table table-sm table-bordered table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Numero</th>
									<th>Anio</th>
									<th>Titulo</th>
									<th>Fecha Publicación</th>
									<th>Texto Completo</th>
									<th>UrlPdf</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for norma in normas %}
									<tr>
										<td>{{ norma.id }}</td>
										<td>{{ norma.numero }}</td>
										<td>{{ norma.anio }}</td>
										<td>{{ norma.titulo }}</td>
										<td>{{ norma.fechaPublicacion ? norma.fechaPublicacion|date('d-m-Y') : '' }}</td>
										<td>{{ norma.textoCompleto }}</td>
										<td>{{ norma.urlPdf }}</td>
										<td>
											<a class="btn" href="{{ path('app_norma_edit', {'id': norma.id}) }}" title="Editar norma">
												<i class="fas fa-edit text-warning"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
{% endblock %}
