{% extends 'base.html.twig' %}

{% block body %}
			<div class="row">
				<div class="col-12">
					<div class="page-title-box d-sm-flex align-items-center justify-content-between">
						<div class="page-title-left">
							<ol class="breadcrumb m-0">
								<li class="breadcrumb-item">
									<a href="javascript: void(0);">Usuarios</a>
								</li>
								<li class="breadcrumb-item">
									<a href="{{ path('app_usuarios') }}">Lista de usuarios</a>
								</li>
								<li class="breadcrumb-item active">{{ titulo }}</li>
							</ol>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h1>{{ titulo }}</h1>
				</div>
			</div>
			{{ form_start (form) }}
			<div class="row">
				<div class="col-6">
					{{ form_label (form.nombre) }}
					{{ form_widget (form.nombre) }}
					{{ form_errors (form.nombre)}}
				</div>
				<div class="col-3">
					{{ form_label (form.email) }}
					{{ form_widget (form.email) }}
					{{ form_errors (form.email)}}
				</div>
				<div class="col-3">
					{{ form_label (form.rol) }}
					{{ form_widget (form.rol) }}
					{{ form_errors (form.rol)}}
				</div>
				<div class="col-6">
					{{ form_label (form.usuario) }}
					{{ form_widget (form.usuario) }}
					{{ form_errors (form.usuario)}}
				</div>
				<div class="col-6">
					{{ form_label (form.password) }}
					{{ form_widget (form.password) }}
					{{ form_errors (form.password)}}
				</div>
				<div class="col-12 mt-4 text-end">
					{{ form_widget (form.guardar) }}

				</div>
			</div>
			{{ form_end (form) }}
		

{% endblock %}
