{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<div class="page-title-left">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item">
						<a href="javascript: void(0);">Usuarios</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('app_usuarios_index') }}">Lista de usuarios</a>
					</li>
					<li class="breadcrumb-item active">{{ titulo }}</li>
				</ol>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{ titulo }}</h1>
	</div>
</div>
{{ form_start (form) }}
<div class="row">
	<div class="col-6 mb-2">
		{{ form_label (form.nombre) }}
		{{ form_widget (form.nombre) }}
		{{ form_errors (form.nombre)}}
	</div>
	<div class="col-3 mb-2">
		{{ form_label (form.email) }}
		{{ form_widget (form.email) }}
		{{ form_errors (form.email)}}
	</div>
	<div class="col-3 mb-2">
		{{ form_label (form.rol) }}
		{{ form_widget (form.rol) }}
		{{ form_errors (form.rol)}}
	</div>
	<div class="col-6 mb-2">
		{{ form_label (form.usuario) }}
		{{ form_widget (form.usuario) }}
		{{ form_errors (form.usuario)}}
	</div>
	<div class="col-6 mb-2">
		{{ form_label (form.password) }}
		{{ form_widget (form.password) }}
		{{ form_errors (form.password)}}
	</div>
	<div id="tipoNormasDiv" style="display: none;">
		<div class="col-6 mb-2">
			{{ form_label (form.tipoNormas) }}
			{{ form_widget (form.tipoNormas) }}
			{{ form_errors (form.tipoNormas)}}
		</div>
	</div>
	<div class="col-12 mb-2 mt-2 text-end">
		{{ form_widget (form.guardar) }}
		<a href="{{ path('app_usuarios_index')}}" class="btn btn-secondary">Volver</a>
	</div>
</div>
{{ form_end (form) }}


{% endblock %}