<!--- Sidemenu -->
<div id="sidebar-menu">
	<!-- Left Menu Start -->
	<ul class="metismenu list-unstyled" id="side-menu">
		<li>
			<a href="{{ path('app_secure_home') }}">
				<i class="fas fa-home"></i>
				<span data-key="t-dashboard">Dashboard</span>
			</a>
		</li>

		{% if is_granted('ROLE_ADMIN') %}
		<li>
			<a href="javascript: void(0);" class="has-arrow">
				<i class="fas fa-users fa-xs" aria-hidden="true"></i>
				<span>Usuarios</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li>
					<a href="{{ path('app_usuarios_index')}}">
						<span>Listado de Usuarios</span>
					</a>
				</li>

				<li>
					<a href="{{ path('app_insertar_usuario')}}">
						<span>Alta de Usuario</span>
					</a>
				</li>
			</ul>
		</li>
		{% endif %}
		<li>
			<a href="javascript: void(0);" class="has-arrow">
				<i class="fa fa-list" aria-hidden="true"></i>
				<span>Tipos de Normas</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li>
					<a href="{{ path('app_tipo_norma_index')}}">
						<span>Listado de Tipos de Normas</span>
					</a>
				</li>

				<li>
					<a href="{{ path('app_tipo_norma_new')}}">
						<span>Alta de Tipo de Norma</span>
					</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="javascript: void(0);" class="has-arrow">
				<i class="fa fa-pencil-alt" aria-hidden="true"></i>
				<span>Tipos de Referencia</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li>
					<a href="{{ path('app_tipo_referencia_index')}}">
						<span>Listado de Tipos de Referencias</span>
					</a>
				</li>

				<li>
					<a href="{{ path('app_tipo_referencia_new')}}">
						<span>Alta de Tipo de Referencia</span>
					</a>
				</li>
			</ul>
		</li>


		<li>
			<a href="javascript: void(0);" class="has-arrow">
				<i class="fa fa-file-alt"></i>
				<span>Temas</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li>
					<a href="{{ path('app_tema_index')}}">
						<span>Listado de Temas</span>
					</a>
				</li>

				<li>
					<a href="{{ path('app_tema_new')}}">
						<span>Alta de Tema</span>
					</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="javascript: void(0);" class="has-arrow">
				<i class="fas fa-scroll" aria-hidden="true"></i>
				<span>Normas</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li>
					<a href="{{ path('app_norma_index')}}">
						<span>Listado de Normas</span>
					</a>
				</li>

				<li>
					<a href="{{ path('app_norma_new')}}">
						<span>Alta de Norma</span>
					</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="{{ path('app_secure_auditoria') }}">
				<i class="fas fa-feather-alt"></i>
				<span>Auditoría</span>
			</a>
		</li>
</div>
<!-- Sidebar -->