{{ form_start (form) }}
<div class="row">
	<div class="mb-3">
		{{ form_label (form.nombre) }}
		{{ form_widget (form.nombre) }}
		{{ form_errors (form.nombre)}}
	</div>
	<div class="mb-3">
		{{ form_label (form.descripcion) }}
		{{ form_widget (form.descripcion) }}
		{{ form_errors (form.descripcion)}}
	</div>
</div>

<div class="col-12 mt-4 text-end">
	{{ form_widget (form.guardar) }}
	<a href="{{ path('app_tema_index') }}" class="btn btn-secondary">Volver</a>
</div></div>{{ form_end (form) }}
