{% extends 'base.html.twig' %}

{% block title %}Tema index
{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<div class="page-title-left">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item">
						<a href="javascript: void(0);">Temas</a>
					</li>
					<li class="breadcrumb-item active">Lista de temas</li>
				</ol>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Temas</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-end my-4">
			<a href="{{ path('app_tema_new')}}" class="btn btn-primary">
				Nuevo Tema
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table id="datatable-buttons" data-url-eliminar="{{ path('app_tema_delete') }}" class="table table-sm table-bordered table-striped datatable-delete">
				<thead>
					<tr>
						<th data-column-type="numeric">Id</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th data-orderable="false">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for tema in temas %}
						<tr>
							<td>{{ tema.id }}</td>
							<td>{{ tema.nombre }}</td>
							<td>{{ tema.descripcion }}</td>
							<td>
								<a class="btn" href="{{ path('app_tema_edit', {'id': tema.id}) }}" title="Editar Tema">
									<i class="fas fa-edit text-warning"></i>
								</a>
								<a href="javascript:void(0);" class="btn-delete m-2" data-id="{{ tema.id }}" title="Eliminar Tema">
									<i class="fas fa-trash text-danger"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-xs-12 text-end">
			<a href="{{ path('app_secure_home')}}" class="btn btn-secondary">Volver</a>
		</div>
	</div>
{% endblock %}
